.points-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 140px;
}

.points-container__points {
  font-size: 60px;
  font-weight: 100;
  position: absolute;
  top: 20px;
  left: calc(50% - 50px);
  color: white;
  width: 100px;
  text-align: center;
  line-height: 60px;
}

.points-container__points-label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.2em;
  line-height: 18px;
}

.points-container__speed-meter {
  margin: 0 auto;
  display: block;
}

.points-container__speed-meter-indicator {
  stroke: white;
  stroke-width: 1px;
  opacity: 0.2;
  transition: opacity 0.2s ease-out;
}

.points-container__speed-meter-indicator--fill {
  opacity: 1;
}

.points-container__lines {
  position: absolute;
  top: 90px;
}

.points-container__line-bg, .points-container__line-fg {
  stroke: white;
  stroke-width: 1px;
  fill: transparent;
}

.points-container__line-bg {
  opacity: 0.2;
}
