.points-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 140px;
}

.points-container__score-label {

}

.points-container__lines {
  position: absolute;
  top: 100px;
}

.points-container__line-bg, .points-container__line-fg {
  stroke: white;
  stroke-width: 1px;
  fill: transparent;
}

.points-container__line-bg {
  opacity: 0.2;
}

.points-container__animate-increase {
  animation: animate-increase 0.5s ease-out;
}

@keyframes animate-increase {
  0% {
    transform: scale(1);
    color: white;
  }

  50% {
    transform: scale(1.3);
    color: hsl(120, 50%, 50%);
  }

  100% {
    transform: scale(1);
    color: white;
  }
}
