$timing-fn: cubic-bezier(0,.78,.78,.94);

.task-list {
  position: fixed;
  top: 170px;
  left: 81.25%;
  width: 18.75%;
}

.task-list__label {
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  font-weight: 100;
  letter-spacing: 0.2em;
}

.task-list__task-enter {
  opacity: 0;
  transform: scale(0);
}

.task-list__task-enter.task-list__task-enter-active {
  opacity: 1;
  transition: all 0.4s $timing-fn;
  transform: scale(1);
}

.task-list__task-leave {
  opacity: 1;
  transform: scale(1);
  position: absolute;
  top: 100px;

  // Hack for single-step task's check
  .check__path {
    stroke-dashoffset: 0;
  }
}

.task-list__task-leave.task-list__task-leave-active {
  opacity: 0;
  transform: scale(0);
}
