@import "../../variables";

$timing-fn: cubic-bezier(0,.78,.78,.94);
$background-color: #33334c;

.task-list {
  position: fixed;
  right: 20px;
  top: 0px;
  height: calc(100% - 120px);
  overflow: hidden;
}

.task-list__label {
  font-size: 18px;
  height: 100px;
  line-height: 100px;
  color: white;
  text-align: center;
}

.task-list__task-enter {
  opacity: 0;
  transform: scale(0);
}

.task-list__task-enter.task-list__task-enter-active {
  opacity: 1;
  transition: all 0.4s $timing-fn;
  transform: scale(1);
}

.task-list__task-leave {
  opacity: 1;
  transform: scale(1);
  position: absolute;
  top: 100px;

  // Hack for single-step task's check
  .check__path {
    stroke-dashoffset: 0;
  }
}

.task-list__task-leave.task-list__task-leave-active {
  opacity: 0;
  transform: scale(0);
}
