@import '../variables';

.task {

}

.task__step {
  display: flex;
  padding: 8px 0px;
  align-items: center;
  color: $color-active;
  animation: subtask-enter 0.3s $ease-out-timing-fn;
}

.task__subtasks {
  margin-top: 40px;
}

.task__description {
  padding: 10px;
  margin: 10px;
  font-size: 11px;
  font-weight: light;
}

.task__step-check {
  display: flex;
  padding-right: 10px;
}

.task__step-description {
  display: flex;
  font-size: 12px;
  padding-right: 10px;
}

.task__step-description--done {
  text-decoration: line-through;
}

@keyframes subtask-enter {
  from {
    transform: translateX(200px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
