.task {
  width: 400px;
  background: rgba(white, 0.9);
  border-radius: 5px;
  margin-bottom: 20px;
}

.task__step {
  display: flex;
  padding-top: 10px;
}

.task__step-check {
  display: flex;
  padding: 5px;
}

.task__step-description {
  display: flex;
  font-size: 14px;
  padding-top: 12px;
}

.task__step-description--done {
  color: #bbb;
  text-decoration: line-through;
}
