.task {

}

.task__step {
  display: flex;
  padding: 8px 0px;
  align-items: center;
}

.task__description {
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  font-size: 12px;
  background: #eee;
  font-weight: light;
}

.task__step--current {
  font-weight: bold;
}

.task__step-check {
  display: flex;
  height: 24px;
  padding: 0px 10px;
}

.task__step-description {
  display: flex;
  font-size: 12px;
  padding-right: 10px;
}

.task__step-description--done {
  color: #bbb;
  text-decoration: line-through;
}
