@import "../../variables";

.task {
  width: 350px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.task__step {
  display: flex;
  padding: 8px 0px;
  align-items: center;
}

.task__description {
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  font-size: 12px;
  background: #eee;
  font-weight: light;
}

.task__step--current {
  font-weight: bold;
}

.task__step-check {
  display: flex;
  height: 24px;
  padding: 0px 10px;
}

.task__step-description {
  display: flex;
  font-size: 12px;
  padding-right: 10px;
}

.task__step-description--done {
  color: #bbb;
  text-decoration: line-through;
}
