@import '../variables';

.loader__circle {
  fill: $color-inactive;
  animation: loading 1.2s linear infinite;
}

@keyframes loading {
  60% {
    transform: translateY(0%);
    fill: $color-inactive;
  }

  80% {
    transform: translateY(-100%);
    fill: $color-active;
  }

  100% {
    transform: translateY(0%);
    fill: $color-inactive;
  }
}
