.file {
  display: inline-block;
  border-radius: 2px;
  transition: all 0.3s ease-out;
  padding: 1px 3px;
  margin-top: -1px;
  max-width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  animation: tree-item 0.3s cubic-bezier(.2,1.27,.47,1.44);
}

.file--green {
  background: hsl(120, 50%, 50%);
  color: white;
}

.file--red {
  background: hsl(0, 50%, 50%);
  color: white;
}

@keyframes tree-item {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
