.file {
  display: inline-block;
  border-radius: 5px;
  padding: 2px 4px;
  margin-top: -1px;
  max-width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  animation: file-enter 0.3s cubic-bezier(.2,1.27,.47,1.44);
  display: flex;
  align-items: center;
  background: rgba(white, 0.7);
  color: rgba(black, 0.9);
  font-size: 11px;

  &.file--green, &.file--red {
    color: rgba(white, 0.9);
  }
}

.file__icon {
  color: black;
  width: 12px;
  height: 12px;
  margin-right: 2px;
  margin-left: -1px;
}

.file--green {
  background: hsla(120, 50%, 50%, 0.6);
  animation: file-stage 0.3s cubic-bezier(.2,1.27,.47,1.44);
}

.file--red {
  background: hsla(0, 50%, 50%, 0.6);
  animation: file-modify 0.3s cubic-bezier(.2,1.27,.47,1.44);
}

@keyframes file-enter {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes file-modify {
  from {
    background: hsla(120, 50%, 50%, 0.6);
    transform: scale(0.5);
  }

  to {
    background: hsla(0, 50%, 50%, 0.6);
    transform: scale(1);
  }
}

@keyframes file-stage {
  from {
    transform: scale(0.5);
    background: hsla(0, 50%, 50%, 0.6);
  }

  to {
    transform: scale(1);
    background: hsla(120, 50%, 50%, 0.6);
  }
}
