.file {
  display: inline-block;
  border-radius: 2px;
  padding: 1px 3px;
  margin-top: -1px;
  max-width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  animation: file-enter 0.3s cubic-bezier(.2,1.27,.47,1.44);

  &.file--green, &.file--red {
    color: white;
  }
}

.file--green {
  background: hsl(120, 50%, 50%);
  animation: file-stage 0.3s cubic-bezier(.2,1.27,.47,1.44);
}

.file--red {
  background: hsl(0, 50%, 50%);
  animation: file-modify 0.3s cubic-bezier(.2,1.27,.47,1.44);
}

@keyframes file-enter {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes file-modify {
  from {
    background: hsl(120, 50%, 50%);
    transform: scale(0.5);
  }

  to {
    background: hsl(0, 50%, 50%);
    transform: scale(1);
  }
}

@keyframes file-stage {
  from {
    transform: scale(0.5);
    background: hsl(0, 50%, 50%);
  }

  to {
    transform: scale(1);
    background: hsl(120, 50%, 50%);
  }
}
