@import '../variables';

$console-height: 100px;
$console-font-size: 36px;
$console-background: rgba(white, 0.05);

.console__wrapper {
  height: $console-height;
  background: $console-background;
  padding-left: 6.25%;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}

.console__input {
  opacity: 0;
  width: 100%;
  height: $console-height;
  position: absolute;
}

.console__text-container {
  pointer-events: none;
  position: relative;
}

.console__cursor {
  margin: -1px;
  background-color: transparent;
  border: 1px solid $color-active;
  color: $color-active;
}

.console__cursor--active {
  border: none;
  margin: 0px;
  animation: blink 1s infinite steps(1, start);
  background-color: $color-active;
  color: $color-inactive;
}

.console__cursor--moving {
  animation: none;
}

.console__text, .console__history-text, .console__prompt-character {
  display: inline-block;
  color: $color-active;
  font-size: $console-font-size;
  line-height: $console-height;
  white-space: pre;
}

.console__text, .console__history-text {
  position: absolute;
  left: 0px;
}

.console__history-text {
  opacity: 1;
  transform-origin: left;
  transition: transform 0.1s cubic-bezier(0,.78,.78,.94), opacity 0.5s linear;
}

.console__history-text--hidden {
  opacity: 0 !important;
}

@keyframes blink {
  0%, 100% {
      background-color: transparent;
      color: $color-active;
  }
  50% {
      background-color: $color-active;
      color: $color-inactive;
  }
}
