.points-container {
  font-family: joystix-monospace;
  position: fixed;
  top: 5px;
  left: 20px;
  color: #fff;
  font-size: 60px;
}

@font-face {
  font-family: joystix-monospace;
  src: url('./fonts/joystix-monospace.ttf');
}
