$line-color: rgba(white, 0.2);

.tree {
  width: 300px;
  position: fixed;
  top: 170px;
  left: 6.25%;
  box-sizing: border-box;
  overflow: hidden;
}

.tree__inner {
  padding-bottom: 4px;
  padding-top: 30px;
  padding-right: 30px;
}

.tree__items {
  margin-top: 12px;
  margin-left: -15px;
}

.tree__heading {
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  font-weight: 100;
  letter-spacing: 0.2em;
}

.tree__scroller {
  position: relative;
  overflow: auto;
  height: 100%;
  width: calc(100% + 30px);
}

.tree__empty-state {
  margin-top: -20px;
  font-size: 12px;
  color: rgba(white, 0.2);
  letter-spacing: 0.1em;
}

.tree__item-name {
  position: relative;
  top: -7px;
  padding-left: 10px;
  height: 100%;
  max-width: calc(100% - 25px);
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(white, 0.5);
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.tree__item-name--directory {
  top: -5px;
}

.tree__file-branch, .tree__directory-branch {
  width: 15px;
  border-top: 1px solid $line-color;
  height: 100%;
}

.tree__directory-branch:not(:last-child) {
  border-right: 1px solid $line-color;
}

.tree__item {
  margin-left: 15px;
}

.tree__item:not(:last-child) {
  border-left: 1px solid $line-color;
}

.tree__item-inner {
  height: 23px;
  display: flex;
}
