.tutorial-item {
  position: relative;
}

.tutorial-item.tutorial-item--active>*:not(.tutorial-item__box) {
  pointer-events: none;
}

.tutorial-item__box {
  position: fixed;
  width: 300px;
  background: black;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: 'showTutorial' 0.5s ease-out;
}

.tutorial-item__inner {
  padding: 10px;
}

.tutorial-item__inner .file {
  display: inline-block;
  font-size: 12px;
}

.tutorial-item__button {
  padding: 10px;
  text-align: center;
  width: 100%;
  color: black;
  cursor: pointer;
  transition: background 0.2s ease-out;
  background: rgba(white, 1.0);
  border: none;
  font-size: 16px;
  margin-top: 10px;
  outline: none;
}

.tutorial-item__button:hover {
  background: rgba(white, 0.9);
}

@keyframes showTutorial {
  from {
    opacity: 0;
    transform: scale(0.0);
  }

  to {
    opacity: 1;
    transform: scale(1.0);
  }
}
