@import '../variables';

.blur {
  height: 100%;

  &>* {
    filter: blur(0px);
    transition: filter 0.3s $ease-out-timing-fn 0.5s;
    transform: translateZ(0);
    will-change: transform;
  }
}

.blur.blur--blur {
  &>*:not(.blur__active-item) {
    filter: blur(10px);
    transition-delay: 0s;
  }

  .blur__active-item {
    z-index: 3;
  }
}

.blur.blur--active>*.blur__active-item:not(.blur__box) {
  pointer-events: none;
}

.blur__active-item {
  position: relative;
}

.blur__box {
  position: fixed;
  width: 300px;
  background: black;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.blur__box-inner {
  padding: 10px;
}

.blur__box-inner .file {
  display: inline-block;
  font-size: 12px;
}

.blur__box-button {
  padding: 10px;
  text-align: center;
  width: 100%;
  color: black;
  cursor: pointer;
  transition: background 0.2s ease-out;
  background: rgba(white, 1.0);
  border: none;
  font-size: 16px;
  margin-top: 10px;
  outline: none;
}

.blur__box-button:hover {
  background: rgba(white, 0.9);
}
