$time-bar-height: 40px;

.time {
  height: $time-bar-height;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.time__bar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.time__label {
  font-size: 18px;
  line-height: $time-bar-height;
  text-align: center;
}

.time__label--white {
  color: white;
}
