@import '../variables';

.checkbox {
  border: 1px solid $color-inactive;
  position: relative;
  border-radius: 30%;
}

.checkbox svg {
  display: block;
}

.checkbox--active {
  border-color: $color-active;
}

.checkbox__path {
  stroke-width: 7%;
  stroke-dasharray: 60 1000;
  stroke-linecap: round;
  stroke-dashoffset: 60;
  stroke: white;
  transition: stroke-dashoffset 0.2s $ease-out-timing-fn;
  fill: none;
}

.checkbox__path--checked {
  stroke-dashoffset: 0;
}
