@import '../variables';

.tutorial.tutorial--blur {
  &>* {
    filter: blur(0px);
    transition: filter 0.3s $ease-out-timing-fn;
  }

  &>*:not(.tutorial__active-item) {
    filter: blur(10px);
  }

  .tutorial__active-item {
    z-index: 3;
  }
}

.tutorial.tutorial--active>*.tutorial__active-item:not(.tutorial__box) {
  pointer-events: none;
}

.tutorial__active-item {
  position: relative;
}

.tutorial__box {
  position: fixed;
  width: 300px;
  background: black;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.tutorial__box-inner {
  padding: 10px;
}

.tutorial__box-inner .file {
  display: inline-block;
  font-size: 12px;
}

.tutorial__box-button {
  padding: 10px;
  text-align: center;
  width: 100%;
  color: black;
  cursor: pointer;
  transition: background 0.2s ease-out;
  background: rgba(white, 1.0);
  border: none;
  font-size: 16px;
  margin-top: 10px;
  outline: none;
}

.tutorial__box-button:hover {
  background: rgba(white, 0.9);
}
